// bento 19
.bento
    .bento__overlay
    .bento__inner
        .bento__preview.bento__preview_border
            .bento-19
                .bento-19__list
                    .bento-19__item
                        .bento-19__circle
                        .bento-19__line
                        .bento-19__price $128.00
                    .bento-19__item
                        .bento-19__circle
                            span
                        .bento-19__line
                        .bento-19__price $88.00
                .bento-19__boxes
                    .bento-19__box
                        .bento-19__check
                            img(src="img/bento-19-check.svg" alt="")
                        .bento-19__lines
                    .bento-19__box
                        .bento-19__check
                            img(src="img/bento-19-check.svg" alt="")
                        .bento-19__lines
                    .bento-19__box
                        .bento-19__check
                            img(src="img/bento-19-check.svg" alt="")
                        .bento-19__lines
                    .bento-19__box
                        .bento-19__check
                            img(src="img/bento-19-check.svg" alt="")
                        .bento-19__lines
                .bento-19__block
        .bento__details
            .bento__title Expense Tracker Pro
            .bento__content Monitor spending with real-time budget alerts and insights.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle