// bento 9
.bento
    .bento__overlay
    .bento__inner
        .bento__preview.bento__preview_border
            .bento-9
                .bento-9__dots
                    span
                    span
                    span
                .bento-9__cells
                    .bento-9__inner
                        .bento-9__row
                            .bento-9__col
                                ul
                                    li
                                    li
                                    li
                            .bento-9__col
                                .bento-9__mask
                                    .bento-9__group
                                        ul
                                            li
                                            li
                                            li
                                            li
                                            li
                                .bento-9__center
                                    .bento-9__icon
                                        img(src="img/bento-9-line.svg" alt="")
                            .bento-9__col
                                ul
                                    li
                                    li
                                    li
                ul.bento-9__bar
                    li
                        img(src="img/bento-9-home.svg" alt="")
                    li
                        img(src="img/bento-9-align-left.svg" alt="")
                    li
                        img(src="img/bento-9-plus.svg" alt="")
                        img(src="img/bento-9-cursor.svg" alt="")
                    li
                        img(src="img/bento-9-chat.svg" alt="")
                    li
                        img(src="img/bento-9-space.svg" alt="")
        .bento__details
            .bento__title Component Designer
            .bento__content Craft and customize UI components with ease.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle