// bento 27
.bento
    .bento__overlay
    .bento__inner
        .bento__preview.bento__preview_border
            .bento-27
                .bento-27__dots
                    span
                    span
                    span
                .bento-27__grid
                    img(src="img/bento-27-grid.svg" alt="")
                .bento-27__cursor
                    img(src="img/bento-27-cursor.svg" alt="")
        .bento__details
            .bento__title Component Finder
            .bento__content Find and integrate UI components quickly and efficiently.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle