// bento 6
.bento
    .bento__overlay
    .bento__inner
        .bento__preview
            .bento-6
                .bento-6__image
                    img(src="img/bento-6.svg" alt="")
        .bento__details
            .bento__title Interaction Counter
            .bento__content Track user engagements and interactions in real-time.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle