// bento 20
.bento
    .bento__overlay
    .bento__inner
        .bento__preview
            .bento-20
                .bento-20__group
                    .bento-20__file
                        .bento-20__folder
                            img(src="img/bento-20-folder.svg" alt="")
                            .bento-20__format
                                span DOC
                    .bento-20__arrow
                        .bento-20__icon
                            img(src="img/bento-20-arrow.svg" alt="")
                    .bento-20__file
                        .bento-20__folder
                            img(src="img/bento-20-folder.svg" alt="")
                            .bento-20__format
                                span MP4
                .bento-20__group
                    .bento-20__signal
                        img(src="img/bento-20-signal.svg" alt="")
                    .bento-20__block
        .bento__details
            .bento__title AI File Converter
            .bento__content Convert files between formats quickly and accurately.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle