// bento 25
.bento
    .bento__overlay
    .bento__inner
        .bento__preview.bento__preview_border
            .bento-25
                .bento-25__dots
                    span
                    span
                    span
                .bento-25__grid
                    img(src="img/bento-25-grid.svg" alt="")
                .bento-25__box
                    .bento-25__format 4K
                    .bento-25__play
                        img(src="img/bento-25-play.svg" alt="")
        .bento__details
            .bento__title 4K Video Streaming
            .bento__content Stream and broadcast videos in crystal-clear quality.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle