// bento 18
.bento
    .bento__overlay
    .bento__inner
        .bento__preview
            .bento-18
                .bento-18__grid
                    .bento-18__lines
                        .bento-18__horizontal
                            span
                            span
                        .bento-18__vertical
                            span
                            span
                .bento-18__folder
                    img(src="img/bento-18-folder.svg" alt="")
                .bento-18__cursor
                    img(src="img/bento-18-cursor.svg" alt="")
                    .bento-18__tooltip Artur
        .bento__details
            .bento__title One-Click File Sharing
            .bento__content Simplify sharing with a single click for any file size.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle