// bento 21
.bento
    .bento__overlay
    .bento__inner
        .bento__preview.bento__preview_border
            .bento-21
                .bento-21__dots
                    span
                    span
                    span
                .bento-21__grid
                    img(src="img/bento-21-grid.svg" alt="")
                .bento-21__avatar
                    img(src="img/bento-21-avatar.png" alt="")
        .bento__details
            .bento__title Profile Wizard
            .bento__content Set up a personalized profile quickly with guided steps.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle