// bento 28
.bento
    .bento__overlay
    .bento__inner
        .bento__preview.bento__preview_border
            .bento-28
                .bento-28__head
                    .bento-28__lines
                    .bento-28__block
                        .bento-28__line
                        .bento-28__circle
                .bento-28__body
                    .bento-28__wrap
                        .bento-28__boxes
                            .bento-28__box
                            .bento-28__box
                        .bento-28__balls
                            img(src="img/bento-28-balls.svg" alt="")
                        .bento-28__tooltip
                            .bento-28__title $60<span>.00</span>
                            .bento-28__cursor
                                img(src="img/bento-28-cursor.svg" alt="")
                    .bento-28__list
                        .bento-28__item
                            .bento-28__details
                                .bento-28__square
                                .bento-28__content Paid
                            .bento-28__line
                        .bento-28__item
                            .bento-28__details
                                .bento-28__square
                                .bento-28__content Open
                            .bento-28__line
                        .bento-28__item
                            .bento-28__details
                                .bento-28__square
                                .bento-28__content Past due
                            .bento-28__line
        .bento__details
            .bento__title Invoice Management
            .bento__content Simplify payments and track invoices with automated tools.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle