// bento 15
.bento
    .bento__overlay
    .bento__inner
        .bento__preview
            .bento-15
                .bento-15__image
                    img(src="img/bento-15.svg" alt="")
        .bento__details
            .bento__title Networking Tools
            .bento__content Build and manage your professional network efficiently.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle