// bento 4
.bento
    .bento__overlay
    .bento__inner
        .bento__preview
            .bento-4
                .bento-4__circles
                    img(src="img/bento-4-circles.svg" alt="")
                .bento-4__toggles
                    img(src="img/bento-4-toggles.svg" alt="")
        .bento__details
            .bento__title Adaptive Settings
            .bento__content Customize your workspace with intuitive control settings.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle