// bento 26
.bento
    .bento__overlay
    .bento__inner
        .bento__preview.bento__preview_border
            .bento-26
                .bento-26__top
                    .bento-26__details
                        .bento-26__title AA+
                        .bento-26__info
                            .bento-26__circle
                            | Site performance
                    .bento-26__box 
                .bento-26__list
                    .bento-26__item
                        .bento-26__block
                            .bento-26__pin
                                img(src="img/bento-26-pin.svg" alt="")
                            .bento-26__cursor
                                img(src="img/bento-26-cursor.svg" alt="")
                                .bento-26__tooltip
                                    span INP
                            .bento-26__time 4 ms
                        .bento-26__circles
                            span 
                            span 
                            span 
                            span 
                            span 
                            span 
                            span 
                            span 
                            span 
                    .bento-26__item
                        .bento-26__block
                        .bento-26__time 0.8 s
                        .bento-26__circles
                            span 
                            span 
                            span 
                            span 
                            span 
                            span 
                            span 
                            span 
                            span 
                    .bento-26__item
                        .bento-26__block
                        .bento-26__time 2.9 s
                        .bento-26__circles
                            span 
                            span 
                            span 
                            span 
                            span 
                            span 
                            span 
                            span 
                            span 
                    .bento-26__item
                        .bento-26__block
                        .bento-26__time 2.9 s
                        .bento-26__circles
                            span 
                            span 
                            span 
                            span 
                            span 
                            span 
                            span 
                            span 
                            span 
        .bento__details
            .bento__title Performance Engine
            .bento__content Dive deep into metrics with our comprehensive analysis tool.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle