// bento 23
.bento
    .bento__overlay
    .bento__inner
        .bento__preview.bento__preview_border
            .bento-23
                .bento-23__top
                    .bento-23__legend
                        .bento-23__item
                            .bento-23__circle
                                span
                            .bento-23__details
                                .bento-23__price $408.36
                                .bento-23__title Last month
                        .bento-23__item
                            .bento-23__circle
                                span
                            .bento-23__details
                                .bento-23__price $1,024
                                .bento-23__title This month
                    .bento-23__icon
                        img(src="img/bento-23-check.svg" alt="")
                .bento-23__chart
                    .bento-23__box
                        .bento-23__area
                        .bento-23__area
                    .bento-23__box
                        .bento-23__area
                        .bento-23__area
                    .bento-23__box
                        .bento-23__area
                        .bento-23__area
                    .bento-23__box
                        .bento-23__area
                        .bento-23__area
                .bento-23__lines
                    span
                    span
        .bento__details
            .bento__title Comparative Tools
            .bento__content Benchmark and contrast metrics to optimize operations.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle