// bento 8
.bento
    .bento__overlay
    .bento__inner
        .bento__preview.bento__preview_border
            .bento-8
                .bento-8__dots
                    span
                    span
                    span
                .bento-8__list
                    .bento-8__item
                        .bento-8__folder
                            img(src="img/bento-8-folder.svg" alt="")
                        .bento-8__wrap
                            .bento-8__line
                            .bento-8__progress
                                .bento-8__box(style="width: 70%")
                    .bento-8__item
                        .bento-8__folder
                            img(src="img/bento-8-folder.svg" alt="")
                        .bento-8__wrap
                            .bento-8__line
                            .bento-8__progress
                                .bento-8__box(style="width: 50%")
                .bento-8__foot
                    .bento-8__in
                    .bento-8__folder
                        img(src="img/bento-8-folder-with-plus.svg" alt="")
                        .bento-8__cursor
                            img(src="img/bento-8-cursor.svg" alt="")
        .bento__details
            .bento__title Download Manager
            .bento__content Speed up downloads with optimized file segmentation.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle