// bento 14
.bento
    .bento__overlay
    .bento__inner
        .bento__preview.bento__preview_border
            .bento-14
                .bento-14__dots
                    span
                    span
                    span
                .bento-14__lines
                .bento-14__wrap
                    .bento-14__list
                        .bento-14__box
                        .bento-14__box
                        .bento-14__box
                        .bento-14__box
                    .bento-14__avatar
                        img(src="img/bento-14-avatar.png" alt="")
                .bento-14__pagination
                    span
                    span
                    span
        .bento__details
            .bento__title Friend Finder Network
            .bento__content Connect with new friends nearby with location-based matching.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle