// bento 3
.bento
    .bento__overlay
    .bento__inner
        .bento__preview
            .bento-3
                .bento-3__grid
                    img(src="img/bento-3.svg" alt="")
        .bento__details
            .bento__title Workflow Engine
            .bento__content Streamline processes with rule-based task automation.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle