// bento 1
.bento
    .bento__overlay
    .bento__inner
        .bento__preview
            .bento-1
                .bento-1__grid
                    img(src="img/bento-1-grid.svg" alt="")
                .bento-1__cursor
                    img(src="img/bento-1-cursor.svg" alt="")
        .bento__details
            .bento__title Manage Components
            .bento__content Easily manage and share components across multiple members and teams.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle