// bento 29
.bento
    .bento__overlay
    .bento__inner
        .bento__preview
            .bento-29
                .bento-29__grid
                    img(src="img/bento-29-grid.svg" alt="")
                .bento-29__circles
                    .bento-29__circle
                    .bento-29__circle
                    .bento-29__circle
                .bento-29__socials
                    .bento-29__social
                        img(src="img/bento-29-messenger.svg" alt="")
                    .bento-29__social
                        img(src="img/bento-29-apple.svg" alt="")
                    .bento-29__plus
                        img(src="img/bento-29-plus.svg" alt="")
                        .bento-29__dots
                            .bento-29__dot
                                span
                            .bento-29__dot
                                span
                    .bento-29__social
                        img(src="img/bento-29-twitter.svg" alt="")
                    .bento-29__social
                        img(src="img/bento-29-deviantart.svg" alt="")
                .bento-29__block
        .bento__details
            .bento__title App Spotlight Booster
            .bento__content Enhance visibility and get your app featured prominently.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle