// bento 16
.bento
    .bento__overlay
    .bento__inner
        .bento__preview
            .bento-16
                .bento-16__row
                    .bento-16__col
                    .bento-16__col
                        .bento-16__boxes
                            .bento-16__box
                                span
                                span
                                span
                            .bento-16__box
                                .bento-16__plus
                            .bento-16__box
                            .bento-16__box
                            .bento-16__box
                                span
                                span
                                span
                            .bento-16__box
                            .bento-16__box
                .bento-16__box
                    span
                    span
                    span
                .bento-16__cursor
                    img(src="img/bento-16-cursor.svg" alt="")
        .bento__details
            .bento__title Drag & Drop Builder
            .bento__content Easily create layouts with our intuitive drag-and-drop tool.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle