// bento 10
.bento
    .bento__overlay
    .bento__inner
        .bento__preview
            .bento-10
                .bento-10__grid
                    .bento-10__cells
                        .bento-10__cell
                        .bento-10__cell
                        .bento-10__cell
                        .bento-10__cell
                        .bento-10__cell
                        .bento-10__cell
                        .bento-10__cell
                        .bento-10__cell
                        .bento-10__cell
                    .bento-10__avatars
                        .bento-10__avatar
                            img(src="img/bento-10-avatar-1.png" alt="")
                        .bento-10__avatar
                            img(src="img/bento-10-avatar-2.png" alt="")
                        .bento-10__avatar
                            img(src="img/bento-10-avatar-3.png" alt="")
                        .bento-10__plus
                            img(src="img/bento-10-plus.svg" atl="")
                .bento-10__cursors
                    .bento-10__cursor
                        img(src="img/bento-10-cursor.svg" alt="")
                        .bento-10__tooltip Artur
                    .bento-10__cursor
                        img(src="img/bento-10-cursor.svg" alt="")
                        .bento-10__tooltip Dash
        .bento__details
            .bento__title Collaboration Hub
            .bento__content Work together seamlessly, anywhere, anytime.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle