// bento 7
.bento
    .bento__overlay
    .bento__inner
        .bento__preview.bento__preview_border
            .bento-7
                .bento-7__dots
                    span
                    span
                    span
                .bento-7__boxes
                    .bento-7__box
                    .bento-7__box
                .bento-7__block
                    .bento-7__line
                    .bento-7__in
                .bento-7__list
                    .bento-7__item
                        .bento-7__circle
                            img(src="img/bento-7-plus.svg" alt="")
                        .bento-7__lines
                            .bento-7__line
                            .bento-7__line(style="width: 38%")
                        .bento-7__line
                    .bento-7__item
                        .bento-7__circle
                            img(src="img/bento-7-plus.svg" alt="")
                        .bento-7__lines
                            .bento-7__line
                            .bento-7__line(style="width: 64%")
                        .bento-7__line
                    .bento-7__item
                        .bento-7__circle
                            img(src="img/bento-7-plus.svg" alt="")
                        .bento-7__lines
                            .bento-7__line
                            .bento-7__line(style="width: 38%")
                        .bento-7__line
                    .bento-7__item
                        .bento-7__circle
                            img(src="img/bento-7-plus.svg" alt="")
                        .bento-7__lines
                            .bento-7__line
                            .bento-7__line(style="width: 64%")
                        .bento-7__line
        .bento__details
            .bento__title Enhanced Listings
            .bento__content Tailor data display with custom filters and sorting.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle