// bento 12
.bento
    .bento__overlay
    .bento__inner
        .bento__preview
            .bento-12
                .bento-12__inner
                    .bento-12__list
                        .bento-12__item
                            .bento-12__box
                            .bento-12__lines
                        .bento-12__item
                            .bento-12__box
                            .bento-12__lines
                .bento-12__square
                .bento-12__item
                    .bento-12__box
                    .bento-12__lines
        .bento__details
            .bento__title Dynamic Project Showcase
            .bento__content Display your best work with interactive, elegant galleries.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle