// bento 13
.bento
    .bento__overlay
    .bento__inner
        .bento__preview
            .bento-13
                .bento-13__inner
                    .bento-13__image
                        img(src="img/bento-13.svg" alt="")
        .bento__details
            .bento__title Unified Tools
            .bento__content Link all your essential tools in one streamlined interface.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle