// bento 30
.bento
    .bento__overlay
    .bento__inner
        .bento__preview.bento__preview_border
            .bento-30
                .bento-30__months
                    .bento-30__month Aug
                    .bento-30__month Sep
                    .bento-30__month Oct
                .bento-30__grid
                    .bento-30__lines
                        .bento-30__line
                        .bento-30__line
                        .bento-30__line
                        .bento-30__line
                        .bento-30__line
                        .bento-30__line
                        .bento-30__line
                        .bento-30__line
                        .bento-30__line
                    .bento-30__boxes
                        .bento-30__box
                            .bento-30__title
                                span Mobile app
                        .bento-30__box
                            .bento-30__title
                                span Release Bento
                        .bento-30__box
                            .bento-30__title
                                span UI elements
                        .bento-30__box
                            .bento-30__title
                                span Core Dashboard v2
                    .bento-30__cursor
                        img(src="img/bento-30-cursor.svg" alt="")
        .bento__details
            .bento__title Advanced Kanban Boards
            .bento__content Plan, track, and manage projects with precision tools.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle