// bento 2
.bento
    .bento__overlay
    .bento__inner
        .bento__preview.bento__preview_border
            .bento-2
                .bento-2__range
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                    span
                .bento-2__top
                    .bento-2__wrap
                        .bento-2__title 1,632
                        .bento-2__info
                            .bento-2__circle
                            | Clicks
                    .bento-2__boxes
                        .bento-2__box 
                        .bento-2__box 
                .bento-2__chart
                    img(src="img/bento-2-chart.svg" alt="")
                    .bento-2__details
                        .bento-2__pin
                            img(src="img/bento-2-pin.svg" alt="")
                        .bento-2__coordinate
                            .bento-2__dot
                            .bento-2__cursor
                                img(src="img/bento-2-cursor.svg" alt="")
                            .bento-2__tooltip
                                span Chrome
                                .bento-2__plus
                                    img(src="img/bento-2-plus.svg" alt="")
        .bento__details
            .bento__title Detailed Analytics
            .bento__content Bento lets you adjust anything you like, just use variables to edit.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle