// bento 5
.bento
    .bento__overlay
    .bento__inner
        .bento__preview
            .bento-5
                .bento-5__image
                    img(src="img/bento-5-grid.svg" alt="")
                .bento-5__cursor
                    img(src="img/bento-5-cursor.svg" alt="")
                .bento-5__tooltip
                    span 40% Faster
                    .bento-5__plus
                        img(src="img/bento-5-plus.svg" alt="")
                .bento-5__boxes
                    .bento-5__box
                    .bento-5__box
                    .bento-5__box
        .bento__details
            .bento__title Free fly shipping
            .bento__content Diamond members enjoy free and fast contactless shipping.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle