// bento 17
.bento
    .bento__overlay
    .bento__inner
        .bento__preview.bento__preview_border
            .bento-17
                .bento-17__top
                    .bento-17__details
                        .bento-17__title 68%
                        .bento-17__info
                            .bento-17__circle
                            | Engagement rate
                    .bento-17__box
                .bento-17__body
                    .bento-17__row
                        .bento-17__col
                            .bento-17__percent 40%
                            .bento-17__balls
                                img(src="img/bento-17-balls-1.svg" alt="")
                        .bento-17__col
                            .bento-17__percent 15%
                            .bento-17__balls
                                img(src="img/bento-17-balls-2.svg" alt="")
                        .bento-17__col
                            .bento-17__percent 68%
                            .bento-17__balls
                                img(src="img/bento-17-balls-3.svg" alt="")
                        .bento-17__col
                            .bento-17__percent 24%
                            .bento-17__balls
                                img(src="img/bento-17-balls-4.svg" alt="")
                    .bento-17__line
                        img(src="img/bento-17-line.svg" alt="")
                    .bento-17__marker
                        img(src="img/bento-17-marker.svg" alt="")
        .bento__details
            .bento__title Track Performance
            .bento__content Monitor and analyze real-time performance metrics.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle