// bento 11
.bento
    .bento__overlay
    .bento__inner
        .bento__preview
            .bento-11
                .bento-11__socials
                    .bento-11__social
                        img(src="img/bento-11-messenger.svg" alt="")
                    .bento-11__social
                        img(src="img/bento-11-apple.svg" alt="")
                    .bento-11__social
                        img(src="img/bento-11-yelp.svg" alt="")
                    .bento-11__plus
                        .bento-11__inner
                        img(src="img/bento-11-plus.svg" alt="")
                    .bento-11__social
                        img(src="img/bento-11-deviantart.svg" alt="")
                    .bento-11__social
                        img(src="img/bento-11-twitter.svg" alt="")
                    .bento-11__social
                        img(src="img/bento-11-instagram.svg" alt="")
                .bento-11__circles
                    .bento-11__circle
                    .bento-11__circle
        .bento__details
            .bento__title Seamless Integrations
            .bento__content Connect and synchronize with popular tools easily.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle