// bento 24
.bento
    .bento__overlay
    .bento__inner
        .bento__preview.bento__preview_border
            .bento-24
                .bento-24__top
                    .bento-24__legend
                        .bento-24__item
                            .bento-24__circle
                            .bento-24__details
                                .bento-24__price $408.36
                                .bento-24__title Last month
                        .bento-24__item
                            .bento-24__circle
                            .bento-24__details
                                .bento-24__price $1,024
                                .bento-24__title This month
                    .bento-24__icon
                        img(src="img/bento-24-plus.svg" alt="")
                .bento-24__wrap
                    .bento-24__chart
                        img(src="img/bento-24-chart.svg" alt="")
                    .bento-24__coordinate
                        .bento-24__dot
                        .bento-24__cursor
                            img(src="img/bento-24-cursor.svg" alt="")
                        .bento-24__tooltip
                            span $1,024
        .bento__details
            .bento__title Sales Trend Tracker
            .bento__content Identify and analyze sales patterns to forecast future trends.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle