// bento 22
.bento
    .bento__overlay
    .bento__inner
        .bento__preview
            .bento-22
                .bento-22__globe
                    img(src="img/bento-22-globe.svg" alt="")
                .bento-22__tooltips
                    .bento-22__tooltip
                        .bento-22__dot
                            span
                        .bento-22__title Studio 1
                    .bento-22__tooltip
                        .bento-22__dot
                            span
                        .bento-22__title Headquarter
                    .bento-22__tooltip
                        .bento-22__dot
                            span
                        .bento-22__title Studio 2
        .bento__details
            .bento__title Multi-location Manager
            .bento__content Effortlessly oversee operations across various sites.
            button.bento-button
                span.bento-button__title Discover
                span.bento-button__circle